<div class="edit-form-container">
<div class="container-fluid pt-4 d-flex justify-content-center align-items-center">
  <%= form_with(model: @user, local: true, class: "row") do |form| %>
    <div class="form-group col-sm-5">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group col-sm-5">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group col-sm-5">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group col-sm-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>
    <div class="form-group col-sm-5">
      <%= form.label :city %>
      <%= form.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group col-sm-5">
      <%= form.label :zipcode %>
      <%= form.text_field :state, class: "form-control" %>
    </div>
    <div class="form-group col-sm-10">
      <%= form.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>

<div class="container-fluid pt-4 d-flex justify-content-center align-items-center">
<h3> Changer d'avatar ? </h3>
</div>
<div class="edit-form-container">
<div class="container-fluid pt-4 d-flex justify-content-center align-items-center">
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <span class="btn btn-primary btn-file">
    Choisis ton image
    <%= file_field_tag :avatar %>
  </span>
  <%= submit_tag "mettre à jour", class: "btn btn-primary"%>
<% end %>
</div>
</div>


