<section class="profile-top-section">
  <div>
    <div>
      <div>
        <div>
          <div class=" d-flex flex-row" style="background-color: FFFF; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
            
            <%= image_tag "empty-profile.png", class: "img-fluid img-thumbnail mt-4 mb-2", style: "width: 150px" %>
              <%=link_to "Edit profile", edit_user_path(@user.id), type: "button", class: "btn btn-primary shadow-0 me-1", "data-mdb-ripple-color": "dark" %>
            </div>
            
            <div class="ms-3" style="margin-top: 130px;">
            <h1> <%= @user.first_name%> <%= @user.last_name%></h1>
              
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #FFFAF4 ;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
              <% @total_items = 0 %>
              <% total_items = LineCart.joins(:cart).where(carts: { user_id: @current_user.id }) %>
                <% total_items.each do |item| %>
                    <% @total_items+= item.quantity %>
                <% end %>
                <p class="mb-1 h5"><%= @total_items  %></p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5 w-100">
              <p class="lead fw-normal mb-1">Personal information </p>
              <div class="p-4 w-100" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"> <%= @user.email%></p>
                <p class="font-italic mb-1"><%= @user.address%></p>
                <p class="font-italic mb-0"><%= @user.city%></p>
                <p class="font-italic mb-0"><%= @user.zip_code%></p>
             
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4 w-100">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class= "orders-profile">                       
<div class="row">
<% @orders.each_with_index do |order, index| %>
  <div class="col-lg-6 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Order number: <%= order.id %></h5>
        <p class="card-text">Order date: <%= order.created_at.to_date %></p>
        <%= link_to "Order Details", order_path(order.id), class:"btn btn-primary shadow-0 me-1" %>
      </div>
    </div>
  </div>
  <% if (index + 1) % 2 == 0 %>
    </div><div class="row">
  <% end %>
<% end %>
</div>
</section>