<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div>
        <div>
        <h1> <%= @user.first_name%> <%= @user.last_name%></h1>

          <div class="rounded-top text-white d-flex flex-row" style="background-color: FFFF; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
            <%= image_tag @user.avatar, alt: 'avatar' %>
              <%=link_to "Edit profile", edit_user_path(@user.id), type: "button", class: "btn btn-primary shadow-0 me-1", "data-mdb-ripple-color": "dark" %>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              
              
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #FFFAF4 ;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
              <% @total_items = 0 %>
              <% total_items = LineCart.joins(:cart).where(carts: { user_id: @current_user.id }) %>
                <% total_items.each do |item| %>
                    <% @total_items+= item.quantity %>
                <% end %>
                <p class="mb-1 h5"><%= @total_items  %></p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Personal information </p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"> <%= @user.email%></p>
                <p class="font-italic mb-1"><%= @user.address%></p>
                <p class="font-italic mb-0"><%= @user.city%></p>
                <p class="font-italic mb-0"><%= @user.zip_code%></p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>